/*===============================REGLAS GENERALES===============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Dumbledor 1', sans-serif;
    font-weight: 500;
    --main-green: #0E3826;
    --main-green-light: #196645;
    --main-gold: #B6A05D;
    --maing-gold-dark: #A4853C;
    --main-gold-light: #CEB77C;
    --shadow: 5px 5px 15px black;
    color: var(--main-gold);
}
@font-face {
    font-family: 'cayed';
    src: url('font/cayed.ttf');
}
body {
    overflow-x: hidden;
}

a {
    z-index: 1;
}

/*==================================CELULARES==================================*/
/*=====Toda pantalla que tenga menos de 1024px de ancho tendrá este estilo=====*/
@media screen and (max-width: 1023px) {

    .comingSoon {
        display: none;
    }

    body {
        overflow-x: hidden;
    }
    .pageWrapper {
        background-color: var(--main-green);
    }
    /*================================CABECERA================================*/
    /*LANDING*/
    .welcomeImgWrapper {
        position: relative;
        height: 40.5rem;
    }
    .welcomeImg, .welcomeLogo {
        width: 100%;
        position: absolute;    
    }
    .welcomeLogo {
        width: 20rem;
        margin-top: 19rem;
        margin-left: 5rem;
    }
    
    /*NAVBAR*/
    .navBar {
        width: 100%;
        height: 5rem;
        background-image: linear-gradient(to right, var(--maing-gold-dark), var(--main-gold-light), var(--maing-gold-dark));
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .navBarButton {
        width: 13%;
        text-align: center;
    }
    .navBarSeparator {
        width: 1.65rem;
    } 
    .navBarLink:link,
    .navBarLink:visited {
        font-size: 1.65rem;
        color: var(--main-green);
        text-decoration: none;
        font-weight: 600;
    }
    .navBarLink:hover,
    .navBarLink:active {
        text-decoration: overline;
    }
    /*================================INVITACION================================*/
    .invitacionContainer {
        width: 100%;
        /*height: 78rem;*/
        background-color: var(--main-green);
        /*border-bottom: 10px solid var(--main-gold);*/
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }
    .invitacionWrapper {
        text-align: center;
        padding-top: 5rem;
    }
    .titulo {
        text-shadow: var(--shadow);
    }
    .principal {
        font-size: 6rem;
    }
    .subtitulo {
        font-size: 4rem;
    }
    .titleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4.5rem;
    }
    .titleDecoration {
        height: 6rem;
        margin: 0 1rem;
    }
    .agradecimiento {
        margin: auto;
        padding-top: 4rem;
        text-align: justify;
        width: 65%;
        text-shadow: var(--shadow);
        font-size: 3rem;
    }
    .dragones {
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 10rem;
    }
    .divisor {
        width: 100%;
    }
    /*=============================NUESTRA HISTORIA=============================*/
    .historiaWrapper {
        position: relative;
        width: 100%;
        background-color: var(--main-green);
        height: 162.5rem;
    }
    .historiaTitulo {
        font-size: 4rem;
        text-shadow: var(--shadow);
        padding: 2rem 0 0 3rem;
    }
    .historia-1 {
        width: 100%;
    }
    .inicioHistoria {
        font-size: 3.5rem;
        padding: 3rem 0 0 3rem;
        text-shadow: var(--shadow);
    }
    .parrafoHistoria {
        font-size: 2.1rem;
        text-align: justify;
        position: absolute;
        text-shadow: var(--shadow);
        /*font-weight: 600;*/
    }
    .parrafo-1 {
        top: 57rem;
        left: 3.5rem;
        width: 76%;
        /*padding: 3rem 6rem 0 3.5rem;*/
    }
    .parrafo-2 {
        top: 77rem;
        right: 3.5rem;
        width: 43%;
    }
    .parrafo-3 {
        width: 38%;
        top: 108.5rem;
        left: 3.5rem;
    }
    .parrafo-4 {
        width: 50%;
        top: 125.5rem;
        left: 5.5rem;
    }
    .parrafo-5 {
        width: 80%;
        top: 142rem;
        right: 3.5rem;
    }
    .historiaImg {
        width: 31%;
        position: absolute;
        border: 1px solid var(--main-gold)
    }
    .historia-2 {
        top: 77rem;
        left: 3rem;
    }
    .historia-3 {
        top: 92rem;
        right: 50%;
    }
    .historia-4 {
        top: 100rem;
        left: 50%;
    }
    .historia-5 {
        top: 115rem;
        right: 3rem;
    }
    .hechizo {
        position: absolute;
    }
    .hechizo-1 {
        width: 18%;
        right: 0;
    }
    .hechizo-2 {
        width: 26%;
        left: -7rem;
        top: 145rem;
    }
    .hechizo-3 {
        width: 11%;
        right: 3rem;
        top: 104rem;
    }
    /*==================================VIDEOS==================================*/
    .videosContainer {
        padding: 4rem 0;
        /*position: relative;
        height: 32rem;*/
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .videoDiv {
        text-align: center;
    }
    .videoTitle {
        font-size: 1.7rem;
        text-shadow: var(--shadow);
    }
    .thumbnail {
        width: 18rem;
        height: 12rem;
        border: 1px solid var(--main-gold);
    }
    /*======================INFORMACION (IGLESIA + SALON)======================*/
    .informacionWrapper {
        width: 100%;
        background-color: var(--main-green);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .infoTitulo {
        width: 100%;
        text-align: center;
        font-size: 3.75rem;
        padding-top: 3.75rem;
        text-shadow: var(--shadow);
    }
    .detallesWrapper {
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        padding: 5rem 0;
        text-shadow: var(--shadow);
    }
    .enlaceAlbum, .enlaceAlbum:visited {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .enlaceAlbum:active, .enlaceAlbum:hover {
        font-size: 1.8rem;
        font-weight: 600;
        text-decoration: overline;
    }
    .album {
        border: 1px solid var(--main-gold);
        width: 40rem;
        height: 27rem;
    }
    .floater0, .floater1, .floater2 {
        position: absolute;
        z-index: 1;
    }
    .floater0 {
        top: 5rem;
    }
    .floater1 {
        top: -9rem;
    }
    .floater2 {
        top: -22em;
    }
    .elevated {
        z-index: 2;
    }
    /*==================================CLIP==================================*/
    .clipWrapper {
        width: 100%;
        background-color: var(--main-green);
    }
    /*===============================COMPARTI===============================*/
    .compartiWrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 4rem 0;
    }
    .compartiText, .compartiThumbnailContainer {
        width: 20rem;
    }
    .compartiThumbnailContainer {
        height: 26.667rem;
        border: 1px solid var(--main-gold);
    }
    .compartiThumbnail {
        width: 100%;
    }
    .compartiText {
        text-align: justify;
        font-size: 2.4rem;
        text-shadow: var(--shadow);
    }
    /*=================================VENDORS=================================*/
    .vendorsWrapper {
        width: 100%;
        padding: 8rem 0;
    }
    .vendorsTitle {
        font-size: 1.5rem;
        text-align: justify;
        text-shadow: var(--shadow);
        padding: 0 8rem;
    }
    .vendorsDiv {
        display: flex;
        padding: 1.5rem 0;
        justify-content: space-evenly;
    }
    .vendorDivColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4.5rem 0;
    }
    .vendorName {
        font-size: 2rem;
        text-shadow: var(--shadow);
    }
    .iconoIg {
        width: 2rem;
        margin: 0 0.5rem;
        text-shadow: var(--shadow);
    }
    .vendorLink, .vendorLink:hover {
        display: flex;
        position: relative;
        padding: 1.5rem;
        text-decoration: none;
    }
    /*==================================FOOTER==================================*/
    .quote {
        padding: 0 8rem 4rem 8rem;
        text-shadow: var(--shadow);
        font-size: 2rem;
        text-align: justify;
    }
    .footer {
        background-color: var(--main-green);
        width: 100%;
    }
    .footerImg {
        width: 100%;
    }

}
/*=================================COMPUTADORAS=================================*/
/*==Toda pantalla que tenga más o al menos 1024px de ancho tendrá este estilo==*/
@media screen and (min-width: 1024px) {
    
    /*================================CABECERA================================*/
    /*LANDING*/
    /*NAVBAR*/
    /*================================INVITACION================================*/
    /*=============================NUESTRA HISTORIA=============================*/
    /*========================INVITACION (IGLESIA + SALON)=======================*/
    /*===============================NOCHE MAGICA===============================*/
    /*SPOTIFY*/
    /*REGALO*/
    /*===============================CONFIRMACION===============================*/
    /*==================================FOOTER==================================*/
    

    /*===============================COMING SOON===============================*/
    .pageWrapper {
        display:none;
    }
    .comingSoon {
        width: 100vw;
        height: 100vh;
        background-image: radial-gradient(var(--main-green-light) 25%, var(--main-green));
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comingSoonTitleContainer {
        display: flex;
        flex-direction: column;
    }
    .comingSoonTitle {
        font-size: 5rem;
        text-shadow: var(--shadow);
    }
    .logoComingSoon {
        height: 50%;
    }
}
